.container{
    padding-top:25vmin;
    padding-bottom:5vmin;
    width:30vmin;
    margin-left:50vmin;
}

@media only screen and (max-width: 900px){
    .container{
        padding-top: 15vmin;
        margin-left: 35%;
    }
}


