
.separator{
    display: block;
    padding-top: 5vmin;

}
.container{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-around;
    padding: 1vmin;
    border-radius: 2vmin;
    background: linear-gradient(
        to right, 
        rgb(75, 148, 191), 
        rgb(162, 29, 142)
      );
}
    
.l{
    opacity: 0.8;
    text-decoration: none;
    font-size: 2vmin;
    color: white;
    cursor: pointer;
}

.l:hover{
    position: relative;
    bottom: 1px;
    opacity: 1;
    color: white;
}

@media only screen and (max-width: 900px){
    .l{
        font-size: 3vmin;
    }
}

