*{
    margin:0;
    padding: 0;
    text-decoration: none;
}

.App{
    background: rgb(16,0,29);
    background: linear-gradient(0deg, rgba(16,0,29,1) 1%, rgba(62,15,60,1) 12%, rgba(27,12,33,1) 54%);
}


