.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 5vmin;
}

.slide {
	max-width: 100%;
	height: auto;
	opacity: 0;
	transition: opacity 0.75s ease-in-out;
}

.slide.active {
	opacity: 1;
}

.imgC{
	overflow:hidden;
	width: 28vmin;
	height: 28vmin;
	overflow:hidden;
	border: 2px solid rgb(187, 30, 122);
	border-radius: 5vmin;
	text-align: center;
}

.img{
	height: 28vmin;
	display: flex;
	justify-content:baseline;
}

.imgC:hover{
	border: 2px solid rgb(23, 129, 122);
	transition: 300ms;
	opacity: 0.8;
}

.btn{
	border: 2px solid rgb(187, 30, 122);
	padding: 1vmin;
	position: relative;
	margin: 3vmin;
	background-color: transparent;
	color: white;
}

.btn:hover{
	border: 2px solid rgb(23, 129, 122);
    position: relative;
    top: -2px;
    box-shadow: 0px 4px 4px 0px rgba(246, 22, 216, 0.5);
    transition: 300ms;
	cursor:pointer;
}

.text{
	position: absolute;
	width: 70vmin;
    margin: 1vmin;
	top: 36vmin;
	left:100vmin;
}

.name{
	font-size: 4vmin;
	margin-bottom: 2vmin;
	color: white;
}

.description{
	color: white;
	position: absolute;
	font-size: 3vmin;
	opacity: 0.8;
}

@media only screen and (max-width: 900px){
	.text{
		top: 85vmin;
		left: 20%;
		right: 20%;
		margin-bottom: 200px;
		padding-bottom:200px;
	}

	.img{
		margin-bottom: 75vmin;
	}

	.container{
		margin-bottom: 75vmin;
	}

}